#back {
  display: flex;
  flex-direction: row;

  & img {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.add-item {
  width: 10rem;
  height: 2.75rem;
  border: none;
  background-color: var(--color-brand);
  color: var(--always-white);
  font: 400 1rem/1.25 var(--ff);
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
}



@media (min-width: 20em) and (max-width: 79em) {
  .add-item {
    width: 100%;
  }
  #back {
    margin-top: 4.875rem;
  }
}
.remove {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  border: none;
  background-color: white;
  cursor: pointer;
}

.remove:hover {
  animation: binRotate 2s;
  cursor: pointer;
}

@keyframes binRotate {
  25% {
    transform: rotate(-25deg);
  }
  50% {
    transform: rotate(25deg);
  }

  75% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(360deg);
  }
}




input[type="checkbox" i] {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  background-image: url(../assets/checks/checkbox.svg);
  background-size: 1rem;
	-moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
	outline: none;
	content: none;	
}


input[type="checkbox" i]:hover {
  cursor: pointer;
  width: 1rem;
  background-image: url(../assets/checks/checkhover.svg);
  background-size: 1rem;
}

input[type="checkbox" i]:checked {
  cursor: pointer;
  width: 1rem;
  background-image: url(../assets/checks/checked.svg);
  background-size: 1rem;
}




.remove-alert {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0.75rem 1rem;
  background-color: var(--color-danger);
  border-radius: 0.5rem;
  font: 400 1rem/1.25 var(--ff);
  gap: 0.75rem;
  margin-top: 2.25rem;
  
  

  & p {
    margin-right: auto;
    color: var(--always-white);
  }

  & a {
    display: flex;

    &:hover {
      animation: closeRotate infinite 3s ease-in-out ;

    }

    & img {
      width: max-content;
      
    }

  }

}


.hide {
  display: none;
}


@keyframes closeRotate {
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }

  75% {
    transform: rotate(-15deg);
  }

  100% {
        transform: rotate(360deg);
  }
}