#back {
  display: flex;
  flex-direction: row;

  & img {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.add-item {
  width: 10rem;
  height: 2.75rem;
  border: none;
  background-color: var(--color-brand);
  color: var(--always-white);
  font: 400 1rem/1.25 var(--ff);
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
}

@media (min-width: 20em) and (max-width: 79em) {
  .add-item {
    width: 100%;
  }
  #back {
    margin-top: 4.875rem;
  }
}
#remove {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  border: none;
  background-color: white;
  cursor: pointer;
}

#remove:hover {
animation: binRotate 2s;
cursor: pointer;
}

@keyframes binRotate {
  25% {
        transform: rotate(-25deg);

  }
  50% {
    transform: rotate(25deg);
  }

  75% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label span {
  background-image: url(../assets/checks/checkbox.svg);
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  background-position: center;
  width:  1rem;
  height: 1rem;
}

input[type="checkbox"] + label span:hover {
  width:  1rem;
  height: 1rem;
  background-size: 1rem 1rem;
  background-position:center;
  background-image: url(../assets/checks/checkhover.svg);
  background-repeat: no-repeat;
}

input[type="checkbox"]:checked + label span {
  width:  1rem;
  height: 1rem;
  background-size: 1rem 1rem;
  background-position:center;
  background-image: url(../assets/checks/checked.svg);
  background-repeat: no-repeat;
}






